<div class="span9" ng-controller="CtrlProduct">
    <ul class="breadcrumb">
        <li>
            <a href="index.html">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="listings.html?category={{productdetail.category}}">{{productdetail.category}}</a> <span class="divider">/</span>
        </li>
        <li class="active">
            <a href="product?id={{productdetail.id}}">{{productdetail.name}}</a>
        </li>
    </ul>


    <div class="row">
        <div class="span9">
            <h1>{{productdetail.name}}</h1>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="span3">
            <img alt="" src="css/images/{{productdetail.thumbnail}}" />


        </div>

        <div class="span6">

            <div class="span6">
                <address>
				<strong>Brand:</strong> <span>Apple</span><br />
				<strong>Product Code:</strong> <span>{{productdetail.id}}</span><br />
				<strong>Reward Points:</strong> <span>0</span><br />
				<strong>Availability:</strong> <span>Out Of Stock</span><br />
			</address>
            </div>

            <div class="span6">
                <h2>
				<strong>Price: {{productdetail.price|currency}}</strong> <small>Ex Tax: $500.00</small><br /><br />
			</h2>
            </div>

            <div class="span6">
                <form class="form-inline">
                    <div class="span3 no_margin_left">
                        <label>Qty:</label>
                        <input type="text" class="span1" placeholder="1">
                        <button class="btn btn-primary" type="submit">Add to cart</button>
                    </div>
                    <div class="span1">
                        - OR -
                    </div>
                    <div class="span2">
                        <p><a href="#">Add to Wish List</a></p>
                        <p><a href="compare.html">Add to Compare</a></p>
                    </div>
                </form>
            </div>


        </div>


    </div>
    <hr>
    <div class="row">
        <div class="span9">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#1" data-toggle="tab">Description</a></li>
                    <li><a href="#2" data-toggle="tab">Reviews</a></li>
                    <li><a href="#4" data-toggle="tab">Write a review</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="1">
                        <p>Just when you thought iMac had everything, now there&apos;s even more. More powerful Intel Core 2 Duo processors. And more memory standard. Combine this with Mac OS X Leopard and iLife &apos;08, and it&apos;s more all-in-one than
                            ever. iMac packs amazing performance into a stunningly slim space.
                        </p>
                    </div>
                    <div class="tab-pane" id="2">
                        <p ng-if="productreviews.length==0">There are no reviews for this product.</p>
                        <div ng-repeat="review in productreviews">
                            <div class="row">
                                <div class="span2">
                                    <div class="span1">
                                        <img alt="" src="css/images/avatar.png" />
                                        <center>{{review.author}}</center>
                                    </div>
                                </div>
                                <div class="span5">
                                    <span class="star-rating-control">
                                        <div ng-if="review.stars>=1" class="star-rating rater-0 star star-rating-applied star-rating-live star-rating-hover">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars<1" class="star-rating rater-0 star star-rating-applied star-rating-live">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars>=2" class="star-rating rater-0 star star-rating-applied star-rating-live star-rating-hover">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars<2" class="star-rating rater-0 star star-rating-applied star-rating-live">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars>=3" class="star-rating rater-0 star star-rating-applied star-rating-live star-rating-hover">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars<3" class="star-rating rater-0 star star-rating-applied star-rating-live">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars>=4" class="star-rating rater-0 star star-rating-applied star-rating-live star-rating-hover">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars<4" class="star-rating rater-0 star star-rating-applied star-rating-live">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars>=5" class="star-rating rater-0 star star-rating-applied star-rating-live star-rating-hover">
                                            <a title="on">on</a>
                                        </div>
                                        <div ng-if="review.stars<5" class="star-rating rater-0 star star-rating-applied star-rating-live">
                                            <a title="on">on</a>
                                        </div>
                                    </span>
                                    <br>
                                    <br>
                                </div>
                                <div class="span5">
                                    <p>{{review.comment}}</p>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="tab-pane" id="4">
                        <form class="form no_margin_left span9 ng-pristine ng-valid" ng-submit="addReview()">
                            <div class="form-group">
                                <label>Rating:</label>
                                <div>
                                    <input value="1" ng-model="review.stars" type="radio" class="star" />
                                    <input value="2" ng-model="review.stars" type="radio" class="star" />
                                    <input value="3" ng-model="review.stars" type="radio" class="star" />
                                    <input value="4" ng-model="review.stars" type="radio" class="star" />
                                    <input value="5" ng-model="review.stars" type="radio" class="star" />&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author">Your Name:</label>
                                <input ng-model="review.author" class="span9" name="author" id="author" placeholder="Write your name here... "></input>
                            </div>
                            <div class="form-group">
                                <label for="comment">Your Comment:</label>
                                <textarea ng-model="review.comment" class="span9" name="comment" id="comment" placeholder="Write your comment here... "></textarea>
                            </div>
                            <button class="btn btn-primary pull-right" type="submit">Post</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>